
  <div class='col-sm-7 pb-2 mx-auto'>
    <h1 > <%= @recipe.name %></h1> 
    <small >by <%= @recipe.user.email %> </small> 
  </div>

<div class="col-sm-7 border m-auto p-4 mb-5"> 
  <div class="d-flex justify-content-between">
    <h4 class="py-3">Preparation time: <%= @recipe.preparation_time %> min</h4>
    <div class="form-check form-switch">
      
      <% if @recipe.public %>
        <label class="form-check-label" for="flexSwitchCheckChecked">Public</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked disabled>
      <% else %>
        <label class="form-check-label" for="flexSwitchCheckChecked">Public</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" disabled>
      <% end %>
   
    </div>
  </div>

  <h4 class="py-3">Cooking time: <%= @recipe.cooking_time %> min</h4>
  <h4 class="py-3">Steps: </h4>
  <p> <%= @recipe.description %> </p>

  <div class="d-flex justify-content-between py-4 mb-3">
    <%= link_to "Generate shopping list", user_recipe_shopping_list_index_path(current_user.id, @recipe.id),class: "btn btn-outline-primary"%> 
    <%= link_to "Add ingredients",  new_user_recipe_recipe_food_path(current_user.id, @recipe.id), class: "btn btn-outline-primary" %>
  </div>

  <% if @recipe_foods.any? %>

     <div class="row bg-secondary text-white border-bottom p-2">
        <div class="col-3" >Food</div>
        <div class="col-2">Quantity </div>
        <div class="col-3">Value </div>
        <div class="col-4">Actions</div>
    </div>
    

      <% @recipe_foods.each do |recipe_food| %>
      <% food = Food.find(recipe_food.food_id) %>
      <div class="row border-bottom border-2 p-3">
        <div class="col-3"> <%= Food.find(recipe_food.food_id).name %> </div>
        <div class="col-2"> <%= recipe_food.quantity %></div>
        <div class="col-3"> <%= food.measurement_unit %></div>
        <div class="col-4 d-flex"> 
          <%= link_to "Modify","/foods",  class: "btn btn-sm btn-success disabled" %>
          <%= button_to "Delete", user_recipe_food_recipe_food_path(current_user.id, @recipe.id, food.id, recipe_food.id), method: :delete, 
                  data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-primary mx-4" %>
        </div>
      </div>
      <% end %>
      <% end %>
</div>