
  <div class='col-sm-7 pb-2 mx-auto'>
  <h1 > <%= @recipe.name %></h1> 
    <small >by <%= @recipe.user.email %> </small> 
  </div>
<div class="col-sm-7 border m-auto p-4"> 
<div class="d-flex justify-content-between">
  <h4 class="py-3">Preparation time: <%= @recipe.preparation_time %> min</h4>
  <div class="form-check form-switch">
     
    <% if @recipe.public %>
      <label class="form-check-label" for="flexSwitchCheckChecked">Public</label>
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked disabled>
    <% else %>
      <label class="form-check-label" for="flexSwitchCheckChecked">Public</label>
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" disabled>
    <% end %>
   
  </div>
</div>
  <h4 class="py-3">Cooking time: <%= @recipe.cooking_time %> min</h4>
  <h4 class="py-3">Steps: </h4>
  <p> <%= @recipe.description %> </p>

  <div class="d-flex justify-content-between border-bottom border-3 py-4">
    <%
=begin%>
 <%= link_to "Generate shopping list", shooping_list_path ,class: "btn btn-secondary"%> 
<%
=end%>
    <%= link_to "Add ingredients",  new_user_food_path(current_user.id), class: "btn btn-secondary" %>
  </div>



</div>